.garantia-container {
    color: #3044a5;
    height: auto;

    h4 {
        margin: 15px;
        line-height: 25px;
    }
}

.garantia-container h4 {
    font-size: 25px;
    height: auto;
}

.titulo {
    text-align: center;
}