.contact-container {
    color: #3044a5;
    font-size: 17px;
    line-height: 30px;
    margin: 10px;

    fieldset {
        padding: 10px;
    }

    a {
        text-decoration: none;
        color: goldenrod;
    }
}

.catpcha {
    background-color: lightgray;
    border: 2px solid rebeccapurple;
    padding: 5px;
    width: 200px;
    color: #272727;
}