@media (max-width: 516px) {
    /*= Responsive HEADER */
    .header__container {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .logo {
        img {
            width: 150px;
            height: 150px;
            display: block;
            margin: auto;
        }
    }

    .navBar {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            // flex-direction: column;
            // text-align: center;
            padding-left: 15px;
            font-size: 13px;
            font-weight: 500px;
        }
    }

    /* estilo responsive contacto */
    .campo-info {
        display: flex;
        flex-direction: column;
    }

    /* estilo responsive garantia */
    .text-garantia {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}